html{
    background-color: #ccc;
    font-size: 32px;
}

/* 1 em = 16 pixels */

/* A TAG rem vai pegar os dados da raiz que é o html e vai se basear por ele
(NÃO POR NENHUMA TAG PAI) */

body{
    background-color:blueviolet;
    width: 50%;
    font-size: 3rem;
}

.pai{
    background-color: #ea80fc;
    width: 50%;
    font-size: 1.5rem;
}

.filha{
    background-color: #1de9b6;
    width: 50%;
    font-size: 0.5rem;
}